.nav_bar{
  display: flex;
  background-color: #191927;
  border-radius: 13px;
  padding: 5px;
}
.profile_icon img{
  width: 56px;
  height: 56px;
  border-radius: 12px;
}
.profile_icon{
  margin: auto;
}

.model{
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 3px;
  transform: translate(-50%, -50%) scale(0);
  background-color: WHITE;
  font-family: Roboto,Shutterstock-NotoSans,Shutterstock-NotoSansThai,Shutterstock-NotoSansJa,Shutterstock-NotoSansKo,Shutterstock-NotoSansSc,Shutterstock-NotoSansTc,arial,sans-serif;
  border-radius: 13px;
  z-index: 10;
  width: 400px;
  height: 600px;
  min-width: 400px;
  min-height: 600px;
  max-height: 70%;
  max-width: 80%;
  transition: 200ms ease-in-out;
  flex-direction: column;
  justify-content: center;
}
.boxx{
  background-color: #191927;
  border-radius: 13px;
  height: 100%;
}
/* animations */
.shadow::before, ::after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
    background-size: 400%;
    z-index:-1;
    animation: shadow 20s linear infinite;
}
.shadow::after{
    top:-8px;
    left:-8px;
    width:calc(100% + 4px);
    height:calc(100% + 4px);
    filter:blur(24px);
    opacity:0.9;
  }
@keyframes shadow {
  0% {
    background-position: 0 0;
  }
  50.01% {
    background-position: 200% 0;
  }
  100% {
    background-position: 0 0;
  }
}


.model.active{
  transform: translate(-50%, -50%) scale(1);
}
.model-header{
  height: 50px;
}
.model-header .close-button{
  cursor: pointer;
  border: none;
  outline: none;
  float: right;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}
.model-body{
    padding: 10px 15px;
    display: block;
}
.icon1{

}
.icon1 img{
  width: 120px;
  height: 120px;
  border-radius: 12px;
  margin-left: 34%;
  margin-bottom: 30px;
}
.login-form{
  width: 100%;
  text-align: center;
  border-radius: 13px;
  color: white;
}
.fields{
  margin: 7%;
  background: #9c9c9c;
  height: 37px;
  border: none;
  outline: none;
  padding-left: 14px;
  width: 80%;
  border-radius: 13px;
}
::placeholder{
  color: white;
  /* padding: 1px 9px; */
}
.submit{
  padding: 10px 15px;
}
#submit{
  outline: none;
  border: none;
  background-color: #ffbb00;
  width: 80%;
  height: 35px;
  border-radius: 13px;
  cursor: pointer;
}

#overlay{
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  pointer-events: none;
}
#overlay.active{
  opacity: 1;
  pointer-events: all;
}


.icon img{
  width: 86px;
  height: 86px;
  border-radius: 12px;
}
.middle_nav{
  width: 80%;
  height: auto;
  display: flex;
  align-items: center;
  /* align-content: center; */ */
}
.search{
    width: 65%;
    height: 35px;
    padding: 3px;
    /* border-right: none; */
    border: none;
    outline: none;
    background-color: #1e1e3b;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search input{
  border: none;
  background: none;
  color: #F148FB;
  text-align:center;
  height: 31px;
  width: 80%;
  transition: 0.3s ease-in;
  background-color: #262640;
  border-radius: 7px;
}
.search button{
  background-color: none;
  color: #F148FB;
  border-radius: 13px;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  color: #F148FB;
}
.about{
  width: 17%;
  height: 35px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.about a{
  width: 90px;
  color: #F148FB;
  text-decoration: none;
  padding: 3px;
  border-left: none;
  text-align: center;
}
.procedure{
  width: 16%;
  height: 35px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.procedure a{
  width: 90px;
  color: #F148FB;
  text-decoration: none;
  padding: 3px;
  border-left: none;
  text-align: center;
}
.login button{
  background-image: linear-gradient(to right, red , yellow);
  width: 90px;
  text-decoration: none;
  height: 35px;
  padding: 3px;
  border-left: none;
  text-align: center;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  color: #F148FB;
  font-weight: bold;
}
.container{
  margin:auto;
  display:  grid;
  grid-template-columns: auto auto;
  width: 80%;
  max-width: 720px;
  height: auto;
  padding: 10px;
  flex: 1;
}
.container1{
  margin: auto;
  display: block;
  max-width: 720px;
  width: 80%;
}
.small-div{
  max-width: 330px;
  border: 2px solid violet;
  border-radius: 13px;
  padding: 10px;
}
.requests{
  border: 2px solid violet;
  border-radius: 12px;
  padding: 5px;
  max-width: 720px;
  margin-top: 10px;
  display: flex;
  min-width: 350px;
  background-image: linear-gradient(to right, #3a0f73 , #4d0461);
}
.images img{
  width: 100px;
  height: 100px;
  border-radius: 12px;
}
.images{
  width: 120px;
  height: 120px;
  flex: 50%;
}
.upp{
  display: flex;
}
.owners-info{
  flex: 50%;
  text-align: center;
}
.name{
  flex: 50%;
}



/* requests */
.image img{
  width: 40px;
  height: 40px;
  border-radius: 7px;
}
.image{
  width: 10%;
  display: flex;
  justify-content: center;
}
.hidari a{
  padding: 6px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 20px;
  border-radius: 12px;
  transition: 0.3s ease;
  color: #bbed64;
  float: right;
}
a{
  text-decoration: none;
  margin: auto;
}
.hidari :hover{
  background-color: white;
  color: #3a0f73;
  border-color: #d99425;
}
.hidari{
  margin-top: 10px;
  width: 39%;
}
.info{
  align-items: center;
  text-align: center;
  width: 60%;
  display: block;
  color: #bbed64;
}
.google{
  width: 72%;
  background-color: #282828;
  margin:auto;
  height: 40px;
  padding: 2px 4px;
  border-radius: 13px;
  margin-bottom: 10px;

}
.google a{
  border-radius: 12px;
  width: 80%;
  transition: 0.3s ease;
  color: #bbed64;
}
.google img{
  width: 40px;
  height: 40px;
  background-color: WHITE;
  border-radius: 10px;
}
.auth-images{
  width: 100%;
}
